<div class="row ">

  <div class="col-md-3 offset-md-1">
    <div class="card" >
      <img class="card-img-top" src="../../assets/image/enquiry.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title text-center enquiry"><a routerLink="/admin/enquiryform">Enquiry Form</a></h5>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" >
      <img class="card-img-top" src="../../assets/image/manage%20user.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title text-center enquiry"><a routerLink="/admin/manageuser">Manage User</a></h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 ">
    <div class="card" >
      <img class="card-img-top" src="../../assets/image/manage-course.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title text-center enquiry"><a routerLink="/admin/managecourse">Manage Course</a></h5>
      </div>
    </div>
  </div>
</div>

<div class="row ">

  <div class="col-md-3 offset-md-1">
    <div class="card" >
      <img class="card-img-top" src="../../assets/image/manage-group.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title text-center enquiry"><a routerLink="/admin/managegroup">Manage group</a></h5>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" >
      <img class="card-img-top" src="../../assets/image/schedule.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title text-center enquiry"><a routerLink="/admin/manageschedule">Manage Schedule </a></h5>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" >
      <img class="card-img-top" src="../../assets/image/evaluation.png" alt="Card image cap">
      <div class="card-block">
        <h5 class="card-title text-center enquiry"><a routerLink="/admin/evaluation">Evaluation</a> </h5>
      </div>
    </div>
  </div>
</div>
<router-outlet> </router-outlet>
