<nav class="navbar navbar-expand-lg navbar-dark py-0.5 ">
  <button class="sidebar-toggler navbar"
          type="button" data-toggle="collapse" data-target="#sidebar"
          aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
    <i class="fa fa-hand-o-right" aria-hidden="true"></i>
  </button>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Notifications</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 navbar-right">
      <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-text-white my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav class="collapse width show mh-100" id="sidebar">
    <div id="sidebarTogglerDemo01 ">
      <!--<div id="sidebarTogglerDemo01" class="width collapse show">-->
      <div class="sidebar-header">
        <h3>Admin Panel</h3>

      </div>

      <ul class="list-unstyled components">
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><a
            routerLink="/admin/homepage">Home</a></a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a routerLink="/admin/enquiryform">Enquiry Form</a></li>
            <li><a routerLink="/admin/manageuser">Manage User</a></li>
            <li><a routerLink="/admin/managecourse">Manage Course</a></li>
            <li><a routerLink="/admin/managegroup">Manage Group</a></li>
            <li><a routerLink="/admin/manageschedule">Manage Schedule</a></li>
            <li><a routerLink="/admin/evaluation">Evaluation</a></li>
          </ul>
        </li>
        <li>
          <a routerLink="/admin/about">About</a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="">Page 1</a></li>
            <li><a href="">Page 2</a></li>
            <li><a href="">Page 3</a></li>
          </ul>
        </li>
        <li>
          <a href="">Portfolio</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
      </ul>
    </div>
  </nav>

  <div id="content">


    <div class="container-fluid">


      <div class="collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
        </ul>
      </div>
    </div>
    <div>
    </div>
    <router-outlet>

    </router-outlet>
  </div>

</div>





